        <footer class="bg-gradient-black-bottom-transparent pb-30px">
            <div class="container">
                <div class="row footer-bottom border-top border-color-transparent-white-light pt-30px align-items-center">
                    <div class="col-lg-9 text-center text-lg-start">
<ul>					
<li><a href="/what-is-handicap">Yevropa handikapi nima</a>
<li><a href="/betting-strategies">Yevropa nogironligi bilan yohoho.bet dan tikish strategiyalari</a></li>
<li><a href="/common-mistakes">Yevropa gandi kapidan foydalanishda tez-tez uchraydigan xatolar</a></li>
<li><a href="/handicap-comparison">Yevropa va Osiyo handicapini taqqoslash</a></li>
</ul>
<br/>
                        <span class="fs-14 d-block lh-22">Copyright © {{ 'now' | date('Y') }} «Yohohobet».</span>
                    </div>
                    <div class="col-lg-3 text-lg-end text-center md-mt-15px">
                        <a href="#" class="d-inline-block align-middle"><img src="png/logo-white.png" alt="" data-no-retina=""></a>
                    </div>
                </div>
            </div> 
        </footer>		